/* .body{
    padding:10%
} */
.navbar{
    /* background-color: #fff;
background: #fff; */
background-image: linear-gradient(15deg, #fff 0%, #35d187 100%);
}
.form-style {
    border-radius: 5px;
    margin: 10px;
}

.card {
    width: 40%;
    height: 40rem;
    align-items: center;
    margin: auto;
}
#signup-card {
    height: 43rem;
    padding-left: 45px;
    padding-right: 45px;
}


.form-group {
    margin-top: 35px;
}

.main {
    /* background-color: #35d187; */
    padding: 50px;
    height: 9999px;
}
.main-signup {
    background-color: #35d187;
    padding: 50px;
    height: 100%;
}

.btn {
    background-color: #35d187;
    border: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.forgot-password {
    font-size: x-small;
}

.form-control {
    /* border-color:; */
    border-width: 2px;
    border-radius: 10px;
}

.heading3 {
    color: #35d187;
    margin-top: 10px;
    margin-left: 50px;
}

#header {
    background: url(../images/banner.jpg);
    height: 594px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
}
/* .header {
    background: url(../images/banner.jpg) center center / cover no-repeat;
    height: auto;
    width: 100%;
} */

.green-service {
    background-color: #35d187;
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.white-services {
    height: auto;
    margin: 30px;
    padding-left: 100px;
}

.roundedCircle {
    border-width: 1px;
}
/* footer */
/* body {
    font-family: Rubik,Arial,sans-serif;
      font-weight: 400;
      font-size: 1rem;
      overflow-x: hidden;
      color: #607289;
  } */

/* .footer {
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 400;
    color: #fff;
    padding-bottom: 100;
} */

a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #007bff;
    text-decoration: none;
}

footer {
    background: #707070;
    color: #fff;
    padding-bottom: 100px;
}

.whoWeAre {
    background-color: #e8e8e8;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}
.howItWorks {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}

.availHead{
   text-align: center;
   padding-top: 30px;
    font-weight: 400;
}

.subavail{
color: #35d187;
text-align: center;
 font-weight: 400;}

.availlist{
    padding: 200px;
}

#book{
    padding-right: 350px;
}

.requests {
    background-color: #e8e8e8;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}
.green-service1 {
    background-color: #35d187;
    font-size: 40px;
    text-align: center;
    color: #fff;
}
#meetPoint{

}