.form-style {
    border-radius: 5px;
    margin: 10px;
}

.card  {
    width: 100%;
    align-items: center;
    margin: auto;  
}

#signup-card{
    padding-left: 50px;
    padding-right: 50px;

}
.form-group{
    margin-top: 35px;
}
/* .main {
    background-color: #35d187;
    padding: 50px;
    height: 9999px; 
} */
 .main-service{
    background-color:#edf0f5;
    padding-bottom: 1em;
} 

#signup-service-card{
    width: 45%;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.btn{
    background-color: #35d187;
    border: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.forgot-password{
    font-size: x-small;
}

.form-control{
    /* border-color: #35d187; */
    border-width: 2px;
    border-radius: 10px;
}

#cardBody{
    width: 80%;
}

.heading3{
    color: #35d187;
    margin-top: 10px;
    margin-left: 50px;

}

.buttonbar{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

li, a {
    display: inline;
    padding: 8px;
    color: #000;
    font-family: "Montserrat";
    text-decoration: none;
}

li a:hover {
    color: #111;
    text-decoration: none;
  }
  
.list-inline{
    margin-top: 40px;
}
.list-inline > li{
    display:inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.pag{
    border-radius: 50%;
}
.vendor_registration_tabs_main ul li.active a {
    color: #006734;
    /* background-color: transparent; */
    /* background: transparent; */
}

.vendor_registration_tabs_main ul li a {
    text-decoration: none;
    font-family: "Nunito Sans";
    font-size: 15px;
    font-weight: 400;
}

.vendor_registration_tabs_main ul li {
    width: 14%;
    position: relative;
}


span, h5, h2,ul, li{ 
    margin: 0;
    padding: 0;
    padding-right: 0px;
    padding-left: 0px;
    border: 0; 
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

span{
    border:1px solid #c8c9cc;
    background-color: #c8c9cc;
    border-radius: 50%;
    padding:10px;
    display:inline-flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
h5{
    margin-top: 1px;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float:right;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input.default:checked + .slider {
    background-color: #444;
  }

 #meet1{
    padding-right: 250px;
     /* text-align: right; */  
 }

 #meet2{
     padding-right: 250px;
 }

 #book{
     text-align: center;
     /* padding: left; */
 }

 #start1{
     padding-right: 250px;
 }
#contact{
    padding-right: 250px;
}




/* @brand-primary: #29b5a8;
@brand-secondary: #ff8300;
@gray: #6b7381;
@gray-light: lighten(@gray, 15%);
@gray-lighter: lighten(@gray, 30%);;

// Button Colors
@btn-default-color: @gray;
@btn-default-bg: @gray-lighter;

// Toggle Sizes
@toggle-default-size: 1.5rem;
@toggle-default-label-width: 4rem;
@toggle-default-font-size: .75rem; */


/* // General Styles for Demo */
/* body {
font-family: 'Montserrat', 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
color: gray;
background: #f2f2f2;
} */
.jumbotron {
  background: gray;
  color: gray-lighter;}
  h1 {
    color: #fff;
  
}
.example {
  margin: 4rem auto;}
   .row {
    margin-top: 2rem;
    height: 5rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid fade(gray-lighter,50%);}
    .first-of-type {
      border:none;
      height: auto;
      text-align: left;
    }
  
  h3 {
    font-weight: 400;}
     small {
      font-weight: 200;
      font-size: .75em;
      color: gray-light;
    }
  
  h6 {
    font-weight: 700;
    font-size: .65rem;
    letter-spacing: 3.32px;
    text-transform: uppercase;
    color: gray-lighter;
    margin: 0;
    line-height:5rem;
  }
  .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
  }
