/* .body{
    padding:10%
} */
.navbar{
    /* background-color: #fff;*/
background: #fff; 
/* background-image: linear-gradient(15deg, #fff 0%, #35d187 100%); */
}
.form-style {
  border-radius: 5px;
  margin: 10px;
}
/* my card */
/* .card {
  width: 100%;
  align-items: center;
  margin: auto;
} */

/* Kawooya's card */
.card {
  width: 33%;
  height: 30rem;
  align-items: center;
  margin: auto;
}
/* Roy's card */
/* .card {
  width: 40%;
  height: 40rem;
  align-items: center;
  margin: auto;
} */
 
#signup-card, #login-card{
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}
/* #signup-card {
  height: 43rem;
  padding-left: 45px;
  padding-right: 45px;
} */

.form-group {
  margin-top: 20px;
}

.main-service {
  background-color: #edf0f5;
  padding-bottom: 1em;
}

#signup-service-card {
  width: 60%;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 100%;
}

.btn {
  background-color: #35d187;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.forgot-password {
  font-size: x-small;
}


#cardBody {
  width: 80%;
}

.buttonbar {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: "Montserrat";
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
    

li,
a {
  display: inline;
  color: #000;
  font-family: "Montserrat";
  text-decoration: none;
  
}


li a:hover {
  color: #111;
  text-decoration: none;
}

.list-inline {
  margin-top: 40px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.pag {
  border-radius: 50%;
}
/* .vendor_registration_tabs_main ul li.active a {
  color: #006734;
} */

/* .vendor_registration_tabs_main ul li a {
  text-decoration: none;
  font-family:"Montserrat";
  font-size: 15px;
  font-weight: 400;
} */

/* .vendor_registration_tabs_main ul li {
  width: 14%;
  position: relative;
} */

h5,
h2,
ul,
li {
  margin: 0;
  padding: 0;
  padding-right: 0px;
  padding-left: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
span {
  /* border: 1px solid #c8c9cc; */
  /* background-color: #c8c9cc; */
  border-radius: 50%;
  /* padding: 15px; */
  display: inline-flex;
  height: 50px;
  align-items: center;
}
h5 {
  margin-top: 1px;
}

#btn-success,
#btn-default {
  border-radius: 12px;
  padding: 6px;
  margin-top: 1em;
  width: 200px;
}

#btn-success {
  background-color: #35d187;
  color: #fff;
}

.checkboxes {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.form-inputs {
  margin-bottom: 10px;
}

.main {
    background-color: #35d187;
    padding: 50px;
    height: 9999px;
}
/* .main-signup {
    background-color: #35d187;
    padding: 50px;
    height: 100%;
} */
.main-card-login{
  height: 22em;
}
#login-card{
  height: 22em;
}

.btn {
    background-color: #35d187;
    border: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.forgot-password {
    font-size: x-small;
}

.form-control {
    /* border-color: #35d187; */
    border-width: 2px;
    border-radius: 10px;
}

.heading3 {
    color: #35d187;
    margin-top: 10px;
    margin-left: 50px;
}

#header {
    background: url(../images/banner.jpg);
    height: 594px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
}

#basic-navbar-nav{
  text-align: right;
  justify-content: center;
  /* margin-top:1.5em; */
  /* font-size: 20px; */
}
/* .header {
    background: url(../images/banner.jpg) center center / cover no-repeat;
    height: auto;
    width: 100%;
} */

.green-service {
    background-color: #35d187;
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.white-services {
    height: auto;
    margin: 30px;
    padding-left: 100px;
}

.roundedCircle {
    border-width: 1px;
}
/* footer */
/* body {
    font-family: "Montserrat";
      font-weight: 400;
      font-size: 1rem;
      overflow-x: hidden;
      color: #607289;
  } */

/* .footer {
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 400;
    color: #fff;
    padding-bottom: 100;
} */

a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
}

.password-reset{
  color:#000;
}

a:hover {
    color: #007bff;
    text-decoration: none;
}

footer {
    background: #707070;
    color: #fff;
    padding-bottom: 100px;
}

.whoWeAre {
    background-color: #e8e8e8;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}
.howItWorks {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}

.availHead{
   text-align: center;
   padding-top: 30px;
   font-weight: 400;
}

.subavail{
  color: #35d187;
  text-align: center;
  font-weight: 400;}

.availlist{
  padding: 200px;
}

#book{
  padding-right: 350px;
}

.requests {
    background-color: #e8e8e8;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}
.green-service1 {
    background-color: #35d187;
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.main-booking{
  background-color: #35d187;
  padding: 25px;
}


#booking-card{
  /* padding-left: 50px; */
  /* padding-right: 50px; */
  width: 60%;
  height: 46em;
}
/* #card-body{
   padding-left: 50px;
  padding-right: 50px;
} */

.pagn{
  color:#000;
}


#form {
  background-color: #FFF;
  height: 600px;
  width: 600px;
  margin-right: auto;
  /* margin-left: auto; */
  margin-top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px;
  text-align:center;
}
label {
  font-size: 18px;
  /* color: #333; */
  height: 20px;
  width: 200px;
  margin-top: 10px;
  /* margin-left: 10px; */
  text-align: right;
  margin-right:15px;
  float:left;
}
input {
  height: 20px;
  width: 300px;
  /* border: 1px solid #000; */
  margin-top: 10px;
}

#booking{
  width: 400px;
  margin-right: auto;
  margin-left: 130px;
  height: 40px;
}

#endtime, #starttime{
  width: 100px;
  border-width: 2px;
  border-radius: 5px;
  height: 35px;
  width: 150px;
}
#starttime{
  margin-right: 35px;
}
#endtime{
  margin-left: 30px;

}

#terms{
  font-size: 12px;
}

.MuiTab-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.MuiTab-root {
  padding: 6px 12px;
  overflow: hidden;
  position: relative;
  font-size: 0.875rem;
  max-width: 264px;
  min-width: 72px;
  box-sizing: border-box;
  min-height: 48px;
   flex-shrink: 0;
  font-family: "Montserrat";
  font-weight: 500;
}

.MuiTabs-flexContainer {
  display: flex;
}


.k-stepper .k-step-label .k-step-text {
  max-width: calc(10em - 20px);
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: visible;
}

span.k-step-text {
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: visible;
  margin-top: 0px;
  
}

.k-stepper .k-step-indicator {
  border-radius: 50%;
  margin-bottom: 3px;
  width: 28px;
  height: 28px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: visible;
  transition-property: color, background-color, border-color;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}

.k-stepper .k-step-label {
  max-width: 15em;
  /* display: inline-flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.k-stepper {
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
  outline: 0;
  font-size: 14px;
  line-height: 1.4285714286;
  display: block;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
  background: none;

}

.signup-word{
  text-align: center;
  justify-content: center;
  margin-top:1.5em;
  font-size: 20px;
}

.k-button, .k-button-secondary {
  border-color: white;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.k-button {
  text-transform: uppercase;
  font-weight: 500;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  float: left;
}

/* .k-button {
  border-radius: 2px;
  padding: 8px 16px;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  font-size: 14px;
  line-height: 1.4285714286;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  position: relative;
} */

