/* .body{
    padding:10%
} */
.navbar{
    /* background-color: #fff;
background: #fff; */
background-image: linear-gradient(15deg, #fff 0%, #35d187 100%);
}
.form-style {
  border-radius: 5px;
  margin: 10px;
}
/* my card */
/* .card {
  width: 100%;
  align-items: center;
  margin: auto;
} */

/* Kawooya's card */
.card {
  width: 33%;
  height: 30rem;
  align-items: center;
  margin: auto;
}
/* Roy's card */
/* .card {
  width: 40%;
  height: 40rem;
  align-items: center;
  margin: auto;
} */
 
#signup-card {
  padding-left: 50px;
  padding-right: 50px;
}

.form-group {
  margin-top: 20px;
}

.main-service {
  background-color: #edf0f5;
  padding-bottom: 1em;
}

#signup-service-card {
  width: 60%;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.btn {
  background-color: #35d187;
  border: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.forgot-password {
  font-size: x-small;
}

.form-control {
  border-width: 2px;
  border-radius: 10px;
}

#cardBody {
  width: 80%;
}

.heading3 {
  color: #35d187;
  margin-top: 10px;
  margin-left: 50px;
}

.buttonbar {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
    

li,
a {
  display: inline;
  padding: 8px;
  color: #000;
  font-family: "Montserrat";
  text-decoration: none;
}

li a:hover {
  color: #111;
  text-decoration: none;
}

.list-inline {
  margin-top: 40px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.pag {
  border-radius: 50%;
}
.vendor_registration_tabs_main ul li.active a {
  color: #006734;
}

.vendor_registration_tabs_main ul li a {
  text-decoration: none;
  font-family: "Nunito Sans";
  font-size: 15px;
  font-weight: 400;
}

.vendor_registration_tabs_main ul li {
  width: 14%;
  position: relative;
}

span,
h5,
h2,
ul,
li {
  margin: 0;
  padding: 0;
  padding-right: 0px;
  padding-left: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
span {
  border: 1px solid #c8c9cc;
  background-color: #c8c9cc;
  border-radius: 50%;
  padding: 10px;
  display: inline-flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
h5 {
  margin-top: 1px;
}

#btn-success,
#btn-default {
  border-radius: 12px;
  padding: 6px;
  margin-top: 1em;
  width: 200px;
}

#btn-success {
  background-color: #35d187;
  color: #fff;
}

.checkboxes {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.form-inputs {
  margin-bottom: 10px;
}
   
#signup-card {
    height: 43rem;
    padding-left: 45px;
    padding-right: 45px;
}


.form-group {
    margin-top: 35px;
}

.main {
    background-color: #35d187;
    padding: 50px;
    height: 9999px;
}
.main-signup {
    background-color: #35d187;
    padding: 50px;
    height: 100%;
}

.btn {
    background-color: #35d187;
    border: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.forgot-password {
    font-size: x-small;
}

.form-control {
    border-color: #35d187;
    border-width: 2px;
    border-radius: 10px;
}

.heading3 {
    color: #35d187;
    margin-top: 10px;
    margin-left: 50px;
}

#header {
    background: url(../images/banner.jpg);
    height: 594px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
}
/* .header {
    background: url(../images/banner.jpg) center center / cover no-repeat;
    height: auto;
    width: 100%;
} */

.green-service {
    background-color: #35d187;
    font-size: 25px;
    text-align: center;
    color: #fff;
}

.white-services {
    height: auto;
    margin: 30px;
    padding-left: 100px;
}

.roundedCircle {
    border-width: 1px;
}
/* footer */
/* body {
    font-family: Rubik,Arial,sans-serif;
      font-weight: 400;
      font-size: 1rem;
      overflow-x: hidden;
      color: #607289;
  } */

/* .footer {
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 400;
    color: #fff;
    padding-bottom: 100;
} */

a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #007bff;
    text-decoration: none;
}

footer {
    background: #707070;
    color: #fff;
    padding-bottom: 100px;
}

.whoWeAre {
    background-color: #e8e8e8;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}
.howItWorks {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}

.availHead{
   text-align: center;
   padding-top: 30px;
    font-weight: 400;
}

.subavail{
color: #35d187;
text-align: center;
 font-weight: 400;}

.availlist{
    padding: 200px;
}

#book{
    padding-right: 350px;
}

.requests {
    background-color: #e8e8e8;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
}
.green-service1 {
    background-color: #35d187;
    font-size: 40px;
    text-align: center;
    color: #fff;
}
/* #meetPoint{

} */
