.form-style {
    border-radius: 5px;
    margin: 10px;
}
.card {
    width: 40%;
    /* height: 30rem; */
    align-items: center;
    margin: auto;  
}

#signup-card{
    /* height: 43rem; */
    padding-left: 50px;
    padding-right: 50px;

}

.form-group{
    margin-top: 35px;
}
.main {
    background-color: #35d187;
    padding: 50px;
    height: 9999px; 
}
 .main-service{
    background-color:gray ;
    padding-bottom: 1em;
} 

/* .main-signup{
    background-color: #35d187;
    padding: 50px;
    height: 100%;
} */
#signup-service-card{
    width: 45%;
    /* height: 30rem; */
    align-items: center;
    /* margin: auto;  */
    padding-left: 50px;
    padding-right: 50px;
    /* margin-bottom: 10px; */

}
.btn{
    background-color: #35d187;
    border: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.forgot-password{
    font-size: x-small;
}

.form-control{
    border-color: #35d187;
    border-width: 2px;
    border-radius: 10px;
}

#cardBody{
    width: 80%;
}

.heading3{
    color: #35d187;
    margin-top: 10px;
    margin-left: 50px;

}
